* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fbfffb;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: rgb(56, 43, 43);
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4d4d4dce;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616ce;
  text-decoration: underline;
}
.activeLink {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}
main {
  margin-bottom: 84px;
}

footer {
  background-color: #161616;
  color: #b8abab;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
.back-button {
  display: block;
  color: rgb(44, 44, 44);
  text-decoration: none;
  margin-top: 60px;
  margin-left: 26px;
  text-align: left;
  cursor: pointer;
}

.back-button span:hover {
  text-decoration: underline;
}
.link-button:hover {
  transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
  background: linear-gradient(
      to bottom,
      rgba(46, 46, 46, 0.363),
      rgba(255, 255, 255, 0.151)
    ),
    url("./assets/images/home-hero.jpg") no-repeat center center;
  background-size: cover;
  min-height: 350px;
  color: rgba(253, 253, 253, 0.877);
  padding: 45px 23px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.726));
  text-shadow: 1px 1px 1px #103518;
}

.home-container h1 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 42px;
  /* background-color: #ececec79; */
  display: inline-flex;
  color: #ffffff;
}

.home-container p {
  line-height: 24px;
  font-size: 24px;
  /* background-color: #dcf7cc94; */
  display: inline-flex;
  color: #ebebeb;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #a6be9be3;
  border: none;
  width: 60%;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  text-transform: uppercase;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-hero-image {
  max-width: 100%;
  height: 45vh;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.726));
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #a6be9b;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.726));
  color: #161616;
  /* padding-inline: 32px; */
  padding-bottom: 32px;
  margin-bottom: 32px;
  /* margin-inline: 27px; */
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #384134;
  color: white;
  border-radius: 10px;
  margin: 0;
}

.perfume-list-container {
  padding-inline: 23px;
}

.perfume-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.perfume-tile a {
  color: #161616;
  text-decoration: none;
}

.perfume-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.perfume-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.perfume-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.perfume-list-filter-buttons > a {
  margin-right: 15px;
}

.perfume-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #331b1b;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.perfume-type:hover {
  color: #ffcf95;
}

.perfume-type:focus {
  outline: none;
}

.perfume-type.selected {
  color: #b4b4b4;
}

.perfume-type.simple:hover,
.perfume-type.simple.selected {
  background-color: #ffeae4;
}

.perfume-type.cologne:hover,
.perfume-type.cologne.selected {
  background-color: #84adab;
  color: #fbfffb;
}

.perfume-type.luxury:hover,
.perfume-type.luxury.selected {
  background-color: #ebb5b5;
}

.perfume-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="perfume-type-"] {
  padding: 7px 14px;
}

.perfume-detail-container {
  padding: 27px;
}

.perfume-detail-container .back-button {
  color: black;
  text-decoration: none;
}

/* .perfume-detail-container .back-button:visited {
} */

.perfume-detail-container .back-button span {
  text-decoration: underline;
}

.perfume-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
  /* align-items: center; */
}

.perfume-detail img {
  border-radius: 5px;
  margin-block: 47px;
  width: 30%;
}

.perfume-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.perfume-detail > i {
  align-self: center;
}

.perfume-detail .perfume-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.perfume-detail .perfume-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.perfume-detail .link-button {
  background-color: #758870;
  color: white;
  font-size: 1.125rem;
}

.agent-nav {
  display: flex;
}

.agent-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.agent-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.agent-perfume-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.agent-perfumes-list {
  padding-inline: 26px;
}

.agent-perfumes-title {
  padding-inline: 26px;
}

.agent-perfume-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.agent-perfume-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.agent-perfume-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.agent-perfume-info p {
  margin-block: 10px;
}

.agent-perfume-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.agent-perfume-detail {
  display: flex;
  align-items: center;
}

.agent-perfume-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.agent-perfume-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.agent-perfume-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.agent-perfume-detail-nav {
  display: flex;
  margin-block: 25px;
}

.agent-perfume-detail-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.agent-perfume-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.agent-perfume-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.agent-perfume-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.agent-perfume-detail-info > h4 > span {
  font-weight: 500;
}

.agent-perfume-price {
  font-size: 24px;
  font-weight: 500;
}

.agent-perfume-price > span {
  font-size: 16px;
  color: #4d4d4d;
}

.agent-perfume-detail-image {
  height: 100px;
  border-radius: 5px;
}

.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #dcf7cc94;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}
.login-form > button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.login-error {
  color: rgb(221, 94, 94);
}

.agent-dashboard-earnings {
  background-color: #b4c29e;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agent-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.agent-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.agent-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.agent-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.agent-dashboard-reviews {
  background-color: #dcf7cc94;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.agent-dashboard-reviews > h2 {
  margin: 0;
}

.agent-dashboard-reviews .star {
  color: #040801;
  margin-left: 15px;
  font-size: 25px;
}

.agent-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.agent-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}

.agent-dashboard-perfumes {
  padding: 38px 26px;
}

.agent-dashboard-perfumes > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agent-dashboard-perfumes .agent-perfumes-list {
  padding-inline: 0;
}

.agent-income {
  padding-inline: 26px;
  color: #161616;
}

.agent-income > p {
  color: #4d4d4d;
}

.agent-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.agent-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

img.graph {
  width: 100%;
  max-width: 500px;
}

.agent-income .info-header > p {
  color: #4d4d4d;
}

.agent-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.agent-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
}

.agent-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.agent-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.agent-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}

.agent-reviews {
  padding-inline: 26px;
  color: #161616;
}

.agent-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.agent-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.agent-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.agent-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.agent-reviews > img {
  margin-bottom: 36px;
}

.agent-reviews .review {
  margin-block: 25px;
}

.agent-reviews .review .info {
  display: flex;
}

.agent-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.agent-reviews .review .date {
  color: #8c8c8c;
}

.agent-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.agent-reviews .review-star {
  color: #ffdb38;
  margin-right: 5px;
}
